body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   background-color: black;

}
/* HEADDINGS */
.header--main {
   font-weight: normal;
   font-size: 50px;
   color: white; 
}
/* LINKS */
.link--cta {
    color: aquamarine;
    font-size: 16px;

}
